body {
  padding: 100px 60px 0 60px;
}

.swatch-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
  margin: 4rem 0;
}

.swatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(33% - 15px);
  min-width: 15rem;
  border: 1px solid var(--black-smoke);
  font-family: 'Sono', monospace;
  background-color: #fff;
  /*box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);*/
}

.swatch-color {
  width: 100%;
  padding-top: 100%;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

.swatch:nth-child(1) .swatch-color {
  background-color: var(--black-smoke);
}

.swatch:nth-child(2) .swatch-color {
  background-color: var(--hoodie);
}

.swatch:nth-child(3) .swatch-color {
  background-color: var(--moto-chrome);
}

.swatch-text {
  padding: 1rem;
  margin: 0px;
  text-align: center;
  font-size: 1rem;
  color: var(--black-smoke);
}

@media print {
  body {padding-top: 0px;}
  h1 {padding-top: 100px;}
}

@media screen and (max-width: 768px) {
  body {
    margin: 100px 20px 0 20px;
    padding: 0px;
  }

  .swatch {
    min-width: 14rem;
  }

  .swatch-text {
    font-size: 0.8rem;
  }
}